/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  font-size: 0; }

a {
  font-size: 0;
  text-decoration: none; }

input {
  display: none; }

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none; }

.header {
  background-color: #08088a; }
  .header_wrapper {
    max-width: 640px;
    width: 100%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0; }
  .header_txt {
    font-size: 16px;
    color: #fff; }

.c-btn {
  display: inline-block;
  height: 100%;
  border: none;
  border-radius: 4px; }
  .c-btn:hover {
    cursor: pointer; }

.p-search_wrapper {
  max-width: 640px;
  width: 100%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0; }

.p-search_link {
  display: inline-block; }
  .p-search_link_wrapper {
    width: 100%;
    padding: 7px 7px 12px;
    position: relative; }

.p-search_cap {
  line-height: 30px;
  color: #000;
  font-size: 16px;
  font-weight: bold; }

.p-search_btn {
  padding: 12px;
  background-color: #f04; }
  .p-search_btn_list {
    display: inline-block; }
    .p-search_btn_list > li:nth-child(n+2) {
      margin-left: 5px; }
  .p-search_btn_cap {
    color: #fff;
    font-size: 8px; }

.p-search_confirmreservation {
  background-color: #fe6d00;
  padding: 12px; }

.p-search_inner {
  width: 640px;
  position: absolute;
  background-color: #f04;
  box-shadow: 0 -2px 6px #888; }

.p-search_setconditions_list > li {
  padding: 14px;
  color: #fff;
  font-size: 16px; }
  .p-search_setconditions_list > li:nth-child(n+2) {
    border-top: 1px solid #fff; }

.p-search_setconditions_txt {
  width: 15%; }

.p-search_setconditions_selected {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }
  .p-search_setconditions_selected_list {
    width: 40%; }

.p-search_setconditions_reset {
  display: inline-block;
  color: #f04;
  background-color: #fff;
  border-radius: 50%;
  font-weight: bold; }
  .p-search_setconditions_reset:hover {
    cursor: pointer; }

.p-search_select_list {
  width: 100%;
  padding: 0 11px; }
  .p-search_select_list > li {
    display: inline-block;
    width: 50%;
    padding: 0 3px;
    text-align: center; }
    .p-search_select_list > li:hover {
      cursor: pointer; }

.p-search_select_txt {
  padding: 4px;
  margin: 7px 0;
  color: #000;
  background-color: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-size: 16px;
  font-weight: bold; }

.p-search_select_arr {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-top: 3px;
  transform: rotate(45deg);
  border-top: 2px solid #666;
  border-right: 2px solid #666; }

.p-search_region {
  padding: 10px; }
  .p-search_region_list, .p-search_refine_list {
    display: none;
    width: 100%;
    background-color: #fff; }
    .p-search_region_list > li, .p-search_refine_list > li {
      color: #000;
      font-size: 14px;
      border-bottom: 1px solid #eee; }
      .p-search_region_list > li:hover, .p-search_refine_list > li:hover {
        cursor: pointer; }

.p-search_label {
  display: inline-block;
  width: 100%;
  padding: 7px 14px; }

.p-search_checkbox {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border: 2px solid #f04;
  color: #fff;
  vertical-align: bottom;
  position: relative; }
  .p-search_checkbox::before {
    width: 9px;
    height: 4px;
    transform: rotate(-45deg);
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    position: absolute;
    top: 10%;
    content: ''; }

.p-search_refine_list {
  display: block; }
  .p-search_refine_list > li {
    padding: 10px; }

.p-search_select {
  width: 40%;
  font-size: 16px; }

.p-search_budget {
  margin-bottom: 10px; }

.is-select {
  padding: 11px;
  margin: 0; }

.is-checked {
  background-color: #f04; }

.is-open {
  transform: rotate(135deg); }

.u-cf::before, .u-cf::after {
  clear: both;
  display: block;
  content: ''; }

.u-fl {
  float: left; }

.u-fr {
  float: right; }

.is-active {
  display: block; }
