.p-search {

  &_wrapper {
    @include wrapper(640px, 0);
  }

  &_link {
    display: inline-block;

    &_wrapper {
      width: 100%;
      padding: 7px 7px 12px;
      position: relative;
    }
  }

  &_cap {
    line-height: 30px;
    color: #000;
    font: {
      size: 16px;
      weight: bold;
    }
  }

  &_btn {
    padding: 12px;
    background-color: #f04;

    &_list {
      display: inline-block;

      & >li:nth-child(n+2) {
        margin: {
          left: 5px;
        }
      }
    }

    &_cap {
      color: #fff;
      font-size: 8px;
    }
  }

  &_confirmreservation {
    background-color: #fe6d00;
    padding: 12px;
  }

  &_inner {
    // display: none;
    width: 640px;
    padding: {
      bottom: 15px;
    }
    background-color: #f04;
    box-shadow: 0 -2px 6px #888;
    position: absolute;
  }

  &_setconditions {
    &_list {
      & > li {
        padding: 14px;
        color: #fff;
        font-size: 16px;

        &:nth-child(n+2) {
          border-top: 1px solid #fff;
        }
      }
    }

    &_txt {
      width: 15%;
    }

    &_selected {
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &_list {
        width: 40%;
      }
    }

    &_reset {
      display: inline-block;
      color: #f04;
      background-color: #fff;
      border-radius: 50%;
      font-weight: bold;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &_select {
    &_list {
      width: 100%;
      padding: 0 11px;

      & > li {
        display: inline-block;
        width: 50%;
        padding: 0 3px;
        text-align: center;

        &:hover {
          cursor: pointer;
        }
      }
    }

    &_txt {
      padding: 4px;
      margin: 7px 0;
      color: #000;
      background-color: #fff;
      border-top: {
        left-radius: 4px;
        right-radius: 4px;
      }
      font: {
        size: 16px;
        weight: bold;
      }
    }

    &_arr {
      display: inline-block;
      width: 8px;
      height: 8px;
      margin: {
        top: 3px;
      }
      transform: rotate(45deg);
      border: {
        top: 2px solid #666;
        right: 2px solid #666;
      }
    }
  }

  &_region {
    padding: 10px;

    &_list {
      display: none;
      width: 100%;
      background-color: #fff;

      & > li {
        color: #000;
        font-size: 14px;
        border-bottom: 1px solid #eee;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &_label {
    display: inline-block;
    width: 100%;
    padding: 7px 14px;
  }

  &_checkbox {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    border: 2px solid #f04;
    color: #fff;
    vertical-align: bottom;
    position: relative;

    &::before {
      width: 9px;
      height: 4px;
      transform: rotate(-45deg);
      border: {
        left: 2px solid #fff;
        bottom: 2px solid #fff;
      }
      position: absolute;
      top: 10%;
      content: '';
    }
  }

  &_refine {
    &_list {
      @extend .p-search_region_list;
      display: block;

      & > li {
        padding: 10px;

        &:nth-child(2) {
          &:hover {
            cursor: default;
          }
        }
      }
    }

    &_type {
      margin: {
        bottom: 10px;
      }
    }
  }


  &_select {
    width: 40%;
    margin: {
      bottom: 5px;
    }
    font-size: 16px;
  }

  &_searchbtn {
    display: block;
    width: 90%;
    padding: 10px 5px;
    margin: 10px auto;
    font-size: 16px;
    text-align: center;
    background-color: #fff;
  }

  &_location {
    @extend .p-search_searchbtn;
  }

  &_close {
    display: block;
    width: 120px;
    padding: 10px 20px;
    margin: 0 auto;
    font-size: 14px;
    text-align: center;
    background-color: #fff;

    &_icon {
      width: 10px;
      height: 10px;
      margin-right: 10px;
      font-size: 12px;
      text-align: center;
      color: #fff;
      background-color: #f04;
    }
  }
}

.is-select {
  padding: 11px;
  margin: 0;
}

.is-checked {
  background-color: #f04;
}

.is-open {
  transform: rotate(135deg);
}